In [1]:
#scraping data from https://www.immobiliare.it/vendita-case/roma/?criterio=rilevanza&pag=1
import requests
from  bs4  import  BeautifulSoup
import pandas as pd
import time

In [2]:
#some urls are not completed. This fun add the missing part

def controlled(link):
    if link[:4] != 'http':
        link = 'https://www.immobiliare.it' + link 
    return link

In [4]:
#finding the announcements (more than 10000) 

links = []
idx = 1
count = 0
while (len(links)< 10000):

    url = 'https://www.immobiliare.it/vendita-case/roma/?criterio=rilevanza&pag=' + str(idx)
    idx += 1
    content = requests.get(url)
    soup = BeautifulSoup(content.text, "lxml")
    if count == 100:
        time.sleep(1)
        count = 0
        
    divTag = soup.find_all("div", {'class': "listing-item_body--content"})
    for tag in divTag:
        tdTags = tag.find_all("a")
        for tag in tdTags:
            l = controlled(tag['href'])
            links.append(l)

In [ ]:
#retrieving info for each url found before

r = pd.DataFrame(index = [0,1,2,3,4,5,6])
idx = 0
count = 1
for url in links: 
    try:
        content = requests.get(url)
        soup = BeautifulSoup(content.text, "lxml")
        row = []

        if count == 100:
            time.sleep(1)
            count = 0
        divTag = soup.find_all("h1", {'class': "raleway title-detail"})
        for title in divTag:
            row.append(title.text)

        divTag = soup.find_all("div", {'class': "clearfix description"})
        for desc in divTag:
            desc = desc.find_all("div")
            h = []
            for tag in desc:
                h.append((tag.text.replace('\n', ' ')))

        row.append(h[1])

        divTag = soup.find_all("div", {'class': "im-property__features"})
        for tag in divTag:

            price = tag.find_all("li", {'class': 'features__price'})
            for tag_p in price:
                row.append(((tag_p.text.replace('â‚¬', ' ')).split())[0])

            info = tag.find_all("ul", {'class': 'list-inline list-piped features__list'})
            h = []
            for tag in info:
                for tg in tag:
                    h.append((tg.text.replace('\xa0', ' ').replace('\n', ' ').replace('+', ' ')).split())


        for i in h[:-1]:
            if i[0] == 'da':
                row.append(i[1])
            else:
                row.append(i[0])
        r[idx] = pd.DataFrame(row)
        idx += 1
        
    except:
        print(idx)
        idx += 1

#save the dataframe in data.csv file         
r = r.transpose()
r.columns = ['title','description', 'price', 'locali', 'superficie', 'bagni', 'piano']
r.to_csv('data.csv', sep = ",",header= True, index = False)

In [16]:
f = pd.read_csv(r'data.csv')
f

,title,description,price,locali,superficie,bagni,piano
0,Nuovi Appartamenti e Attici / Mansarde a Roma,Le residenze...,192.000,1.0,46,NaN,NaN
1,"Bilocale viale Italo Calvino, Roma",PAPILLO EUR ...,225.000,2.0,50,1,1
2,"Quadrilocale via Mario Ridolfi 32, Roma",Rif: 18100 -...,359.000,4.0,130,3,3
3,"Appartamento via dei Gandolfi, Roma",In strada pr...,800.000,5.0,220,3,4
4,"Villa via Casalmonferrato, Roma",Nel quartier...,3.400.000,5.0,500,3,NaN
5,"Appartamento piazza Cavour, Roma","Prati, appar...",950.000,5.0,170,1,3
6,"Appartamento piazza Del Fante, Roma",In un contes...,1.090.000,5.0,190,2,2
7,"Attico / Mansarda via della Frezza, Roma",Nel contesto...,2.150.000,4.0,150,1,4
8,"Appartamento via Dandolo, Roma",Nella splend...,2.500.000,5.0,300,3,2
9,"Appartamento via del Calice, Roma",In via Del C...,650.000,5.0,193,3,4
10,"Trilocale via dei Banchi Vecchi, Roma",CENTRO STORI...,680.000,3.0,90,1,3
11,"Villa via Cristoforo Sabbadino, Roma",TREE HOUSE -...,219.000,3.0,190,2,NaN
12,"Bilocale via Silicella 17, Roma",Rif: 18028 -...,115.000,2.0,58,1,3
13,"Bilocale via Mario Musco 82, Roma","Montagnola, ...",259.000,2.0,55,1,A
14,"Villa via Raffaele Conforti 67, Roma",Rif: 18097 -...,1.390.000,5.0,392,3,NaN
15,"Attico / Mansarda via degli Armenti 70, Roma","Collatina, A...",189.000,4.0,110,2,A
16,"Appartamento via di San Vito, Roma",Nel contesto...,850.000,5.0,204,2,3
17,"Appartamento via del Governo Vecchio, Roma",Nella splend...,720.000,5.0,145,1,1
18,"Trilocale via Mortara 5, Roma",Rif: 18102 -...,349.000,3.0,100,1,2
19,"Trilocale via Zaccanopoli, Roma",In via Zacca...,269.000,3.0,87,2,2
20,"Quadrilocale via Radicofani 31, Roma",Rif: 17053/i...,239.000,4.0,90,2,NaN
21,"Trilocale via Columella, Roma",Rif: Quadrar...,125.000,3.0,50,1,T
22,"Appartamento viale parioli 37, Roma",In palazzina...,1.599.000,5.0,270,3,R
23,"Appartamento via Pinerolo, Roma",Nella centra...,670.000,5.0,180,2,1
24,"Trilocale via del Cottanello, Roma",Fino al 31/1...,315.000,3.0,92,2,5
25,"Appartamento via dei Colli della Farnesina 8, ...",In Via dei C...,1.070.000,5.0,230,3,1
26,"Bilocale via Dei Banchi Nuovi, Roma",VIA DEI BANC...,620.000,2.0,65,1,3
27,"Quadrilocale via Suor Maria Agostina, Roma","Boccea, adia...",199.000,4.0,125,2,1
28,"Appartamento piazza Camillo Benso di Cavour, Roma","Prati, appar...",549.000,5.0,85,2,2
29,"Quadrilocale via dei Chiavari, Roma",Nel cuore de...,849.000,4.0,127,1,2
...,...,...,...,...,...,...,...
9972,"Villa via alberico crescitelli 84, Roma",Rif: MB bifa...,319.000,4.0,170,3,NaN
9973,"Trilocale via CORNELIO MAGNI, Roma",Rif: ARDEATI...,385.000,3.0,100,2,NaN
9974,"Quadrilocale via del Monte delle Piche, Roma",Rif: Piche 0...,395.000,4.0,140,2,NaN
9975,"Trilocale via di Prataporci 1, Roma",Proponiamo i...,112.000,3.0,76,1,1
9976,"Trilocale via delle Ciliegie 145, Roma",ALESSANDRINO...,247.000,3.0,85,1,1
9977,"Quadrilocale via Pietro Romano 10, Roma",Proponiamo l...,213.000,4.0,107,1,1
9978,"Appartamento via Pietro da Cortona, Roma",Rif: 2585 - ...,450.000,5.0,100,1,NaN
9979,"Bilocale piazza Piero Puricelli,, 22, Roma",PORTUENSE Pia...,189.000,2.0,65,1,NaN
9980,"Villa via del Casale del Finocchio, Roma",Rif: Finocch...,299.000,5.0,260,NaN,NaN
9981,Appartamento via Giuseppe Luigi Passalacqua 38...,ESQUILINO SA...,460.000,5.0,122,2,NaN
9982,"Bilocale via Luigi Costanzo, Roma",Rif: 2648 - ...,175.000,2.0,49,1,NaN
9983,"Trilocale via GIAMPAOLO DELLA CHIESA, Roma",Rif: VIA GIA...,429.000,3.0,115,2,NaN
9984,"Trilocale via EMPOLI, Roma",Rif: 5/416 -...,199.000,3.0,80,2,NaN
9985,"Trilocale via Casilina 1974, Roma",A due minuti...,118.000,3.0,85,1,T
9986,"Appartamento via Otranto, Roma",In una delle...,540.000,5.0,130,1,1
9987,"Quadrilocale via Franco Lombardi , 39, Roma",Tuscolana - Z...,299.000,4.0,110,2,1
9988,"Bilocale via Sulbiate 33, Roma",PRIMA PORTA ...,169.000,2.0,72,1,1
9989,"Appartamento via VILLANI, Roma",Rif: CAFFARE...,885.000,5.0,163,3,NaN
9990,"Trilocale via Caio Rutilio, Roma",CinecittÃ - D...,229.000,3.0,110,2,1
9991,"Villa via Della Giustniana, Roma",CASSIA Via de...,649.000,4.0,180,NaN,NaN
9992,"Villa via GIUSEPPE BOTTI, Roma",dragona bagno...,210.000,4.0,119,3,NaN
9993,"Quadrilocale piazza Armenia, Roma",San Giovanni ...,450.000,4.0,100,1,NaN
9994,"Trilocale via Cinaglio, Roma",Rif: Cinagli...,180.000,3.0,90,1,A
9995,"Villa via GIUSEPPE BOTTI, Roma",dragona bagno...,225.000,4.0,125,3,NaN
9996,"Bilocale via Mandanici,, 248, Roma",BORGHESIANA ...,130.000,2.0,45,1,NaN
9997,"Trilocale via dei Due Ponti 270, Roma",AGENZIA GABE...,155.000,3.0,60,1,NaN
9998,"Bilocale corso Francia, Roma",Rif: 2645 - ...,350.000,2.0,105,1,NaN
9999,"Bilocale via Ugolino CavalcabÃ², Roma",Rif: 2651 - ...,195.000,2.0,75,1,NaN
10000,"Trilocale via Palmiano, Roma",Rif: MB1193 ...,258.000,3.0,75,2,2
10001,"Quadrilocale via Tuscolana 216, Roma",APPIO LATIN0 ...,509.000,4.0,150,2,NaN

In [25]:
f.groupby('piano').count()

       title  description  price  locali  superficie  bagni
piano
1       1249         1249   1249    1249        1249   1249
10         2            2      2       2           2      2
109        1            1      1       1           1      1
11         4            4      4       4           4      4
128        1            1      1       1           1      1
147        1            1      1       1           1      1
2        953          953    953     953         953    953
3        700          700    700     700         700    700
389        1            1      1       1           1      1
4        416          416    416     416         416    416
5        243          243    243     243         243    243
50         1            1      1       1           1      1
52         1            1      1       1           1      1
6        123          123    123     123         123    123
60         1            1      1       1           1      1
61         1            1      1       1           1      1
7         83           83     83      83          83     83
75         1            1      1       1           1      1
77         1            1      1       1           1      1
8         34           34     34      34          34     34
83         2            2      2       2           2      2
9          7            7      7       7           7      7
92         1            1      1       1           1      1
95         1            1      1       1           1      1
A        461          461    461     461         461    461
R        218          218    218     218         218    218
S         67           67     67      67          67     67
T        693          693    693     693         693    693